/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fdfdfd;
  box-shadow: 6px 5px 10px #8888;
  border-radius: 10px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  padding: 5px 0 5px 30px;
  color: #333;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

#datetime {
  display: inline-block;
  margin-right: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.date {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;
}

.time {
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
}

.time span:last-child {
  font-size: 12px;
}

.row {
  padding: 30px;
}